@import '../../styles/contants.scss';

.wrapper {
    @media (max-width: $sm) {
      margin-left: 3rem;
    }
    margin-left: 18rem;
    padding: 1.5rem;

    .container {
      @media (max-width: $sm){
        flex-direction: column-reverse;
        gap: 1rem;
      }
      display: flex;
        .left {
          form {
            input {
              width: 260px;
              border: 1px solid transparent;
              border-radius: 20px;
              display: block;
              padding: 9px 4px 9px 40px;
              background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px;
            }
          }
        }

        .right {
          @media (max-width: $sm) {
            position: relative;
            gap: 1rem;
          }
          display: flex;
          gap: 2rem;
          position: absolute;
          right: 0;
          
          .notification {
            align-items: center ;
            justify-content: center;
            padding: 0.3rem;
            >svg {
              height: 1.7rem;
              width: 1.7rem;
            }
          }

          .user {
            @media (max-width: $sm){
              font-size: 10px;
            }
            display: flex;
            margin-right: 2rem;
            gap: 1rem;

            img {
              width: 2.5rem;
            }

            .info {
              display: flex;
              flex-direction: column;

              >:nth-child(1){
                font-size: 16px;
                font-weight: 500;
              }

              >:nth-child(2){
                font-size: 13px;
              }
            }
          }
        }
    }
}